@model IEnumerable<Tasks.Models.Products>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>
                    <a href="javascript:void(0);" onclick="loadDetails(@item.Id)">Details</a> |
                    <a href="javascript:void(0);" onclick="loadEdit(@item.Id)">Edit</a> |
                    <a href="javascript:void(0);" onclick="loadDelete(@item.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
